<p style="color: green"><%= notice %></p>

<%= render @post %>



<% if logged_in? && current_user.id == @post.user_id %>
  <div>
    <%= link_to "Редагувати допис", edit_user_post_path(@post), class: 'btn' %> |
    <%= link_to "Мої дописи", user_posts_path(current_user), class: 'btn' %>
  </div>

  <div>
    <%= link_to "Видалити", user_post_path(@post.user_id), method: :delete, class: 'btn btn-danger mt-3' %>
  </div>

<% else %>
    <%= link_to "Всі пости", posts_path, class: 'btn' %>
<% end %>