<h1>Редагувати аккаунт:</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>

  <%= f.label :name, "Ім'я" %>
  <%= f.text_field :name, class: 'form-control' %>
                
  <%= f.label :nickname, "Псевдонім" %>
  <%= f.text_field :nickname, class: 'form-control' %>

  <%= f.label :status, "Коротко про себе" %>
  <%= f.text_field :status, class: 'form-control' %>
                
  <%= f.label :email, "Пошта" %>
  <%= f.email_field :email, class: 'form-control' %>
              
  <%= f.label :password, "Пароль" %>
  <%= f.password_field :password, class: 'form-control' %>

  <%= f.label :password_confirmation, "Повторіть пароль" %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>

  <%= f.submit "Зберегти", class: "btn btn-dark mt-3" %>
<% end %>

