<div class="row container text-center">
  <h1><%= @user.nickname %></h1>
  <h5><%= @user.name %></h5>
  <h5>Email: <%= @user.email %></h5>
 
  <div class="container-xs text-center">
    <p><%= @user.status %></p>

  </div>
   <div class="d-flex gap-5 justify-content-center">

    <% if session[:user_id] == @user.id%>
      <ul class="dropdown-menu position-fixed d-grid gap-1 p-3 rounded-3 shadow w-220px">
        <li><%= link_to "Редагувати аккаунт", edit_user_path, class: "dropdown-item rounded-2"%></li>
        <li><%= link_to "Редагувати дані входу", "#", class: "dropdown-item rounded-2"%></li>
        <li><%= link_to "Редагувати аккаунт", "#", class: "dropdown-item rounded-2"%></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Видалити аккаунт", "#", class: "dropdown-item rounded-2"%></li>
      </ul>
    <% end %>

  </div>
  
</div>
