<div class="row container text-center">
  <h1><%= @user.nickname %></h1>
  <h5><%= @user.name %></h5>
  <p><%= @user.status %></p>

  <% if logged_in? && session[:user_id] == @user.id%>
  
    <h5>Email: <%= @user.email %></h5>

    <div class="btn-group">
      <%= link_to "Редагувати аккаунт", edit_user_path, class: "btn btn-dark"%>
      <%= link_to "Партнерська програма", '#', class: "btn btn-secondary"%>
      <%= link_to "Видалити аккаунт", user_path(current_user), method: :delete, class: 'btn btn-danger' %>
    </div>

  <% elsif logged_in? %>

    <div class="btn-group">
      <%= link_to "Дописи", user_posts_path(@user), class: "btn btn-dark"%>
      <%= link_to "Стежити", "#", class: "btn btn-success"%>
      <%= link_to "Поскаржитись", "#", class: "btn btn-danger"%>
    </div>

  <% else %>

    <div class="btn-group">
      <%= link_to "Дописи", user_posts_path(@user), class: "btn btn-dark"%>
      <%= link_to "Стежити", new_session_path, class: "btn btn-success"%>
      <%= link_to "Поскаржитись", new_session_path, class: "btn btn-danger"%>
    </div>

  <% end %>

</div>
