<div id="<%= dom_id trade %>">

  <h4> 
    <%= trade.ticker %>
    (<%= l(trade.created_at, format: :short)%>)
  </h4>
  <p>
    <strong>Тікер:</strong>
    <%= trade.ticker %>
  </p>

  <p>
    <strong>Комісія:</strong>
    <%= trade.tax %>
  </p>



  <p>
    <strong>Купівля/продаж:</strong>
    <%= trade.long_short %>
  </p>

  <p>
    <strong>Об'єм:</strong>
    <%= trade.volume %>
    sh.
  </p>

  <p>
    <strong>Ціна входу:</strong>
    <%= trade.price_in %>
  </p>

  <p>
    <strong>Ціна виходу:</strong>
    <%= trade.price_out %>
  </p>

</div>