<h1>Останні новини $<%= params[:ticker].upcase %> (<%= @news.count %>шт)</h1>

<% if @news.empty?%>

  <p>Немає новин або не вірний тікер.</p>

<% else %>
  <% i = 0 %>
  <% @news.map do |news| %>
    <h5 class="mt-5"><%= i += 1 %>. <%= news[:title] %></h5>
    <p>Published: <%= news[:author] %> (<%= news[:published_date] %>) </p>
    <p>Source: <%= news[:clean_url] %></p>
    <%= link_to "ЧИТАТИ", news[:link], class: "btn btn-primary" %>
  <% end %>

<% end %>