<h1>Останні новини $<%= params[:ticker].upcase %></h1>

<% if @news.empty?%>
  <p>Can`t find news or wrong ticker!</p>
<% else %>

  <%= @news.each do |news| %>
    <h5 class="mt-5"><%= news[:title] %></h5>
    <figcaption class="blockquote-footer mt-2">
      <cite title="Source Title"> <%= news[:published_date] %> </cite>
    </figcaption>
    <%= link_to "ЧИТАТИ", news[:link], class: "btn btn-primary" %>
  <% end %>

<% end %>