<%= form_with model: @post do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :post_title, "Заголовок", style: "display: block", class: 'form-label mt-3' %>
    <%= form.text_field :post_title, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :post_text, "Текст поста", style: "display: block", class: 'form-label mt-3' %>
    <%= form.text_field :post_text, class: 'form-control'%>
  </div>

  <div>
    <%= form.submit "Зберегти", class: 'btn btn-dark mt-3' %>
  </div>
<% end %>
