<div id="<%= dom_id trade %>">
  <p>
    <strong>Tax:</strong>
    <%= trade.tax %>
  </p>

  <p>
    <strong>Ticker:</strong>
    <%= trade.ticker %>
  </p>

  <p>
    <strong>Long short:</strong>
    <%= trade.long_short %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= trade.volume %>
  </p>

  <p>
    <strong>Price in:</strong>
    <%= trade.price_in %>
  </p>

  <p>
    <strong>Price out:</strong>
    <%= trade.price_out %>
  </p>

</div>
