
  <div class="b-example-divider"></div>

  <nav class="py-2 bg-light border-bottom">
    <div class="container d-flex flex-wrap">
      <ul class="nav me-auto">
        <li class="nav-item font-monospace"><span class="fs-4 px-5">NiceNYSE</span></li>
        <li class="nav-item"><%= link_to "Новини", home_path, class: "nav-link link-dark px-4"%></li>
        <li class="nav-item"><%= link_to "Стрічка", posts_path, class: "nav-link link-dark px-4"%></li>
        <li class="nav-item"><%= link_to "Блоги", users_path, class: "nav-link link-dark px-4"%></li>
        <li class="nav-item"><%= link_to "Корисні посилання", home_path, class: "nav-link link-dark px-4"%></li>
        <li class="nav-item"><%= link_to "Про нас", home_path, class: "nav-link link-dark px-4"%></li>
        <li class="nav-item"><%= link_to "Контакти", home_path, class: "nav-link link-dark px-4"%></li>
      </ul>
      <% if logged_in? == false %>
        <ul class="nav">
          <li class="nav-item"><%= link_to "Вхід", new_session_path, class: "btn btn-dark"%></li>
          <li class="nav-item"><%= link_to "Реєстрація", new_user_path, class: "nav-link link-dark px-2"%></li>
        </ul>
      <% else %>
        
      <% end %>
    </div>
  </nav>
  <% if logged_in? %>
  <header class="py-3 mb-4 border-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
      
        <ul class="nav">
            <li class="nav-item"><%= link_to "Додати трейд", new_user_trade_path(current_user), class: "nav-link link-dark px-5"%></li>
            <li class="nav-item"><%= link_to "Журнал", user_trades_path(current_user), class: "nav-link link-dark px-5"%></li>
            <li class="nav-item"><%= link_to "Статистика", "#", class: "nav-link link-dark px-5"%></li>
            <li class="nav-item"><%= link_to "Мій блог", user_posts_path(current_user), class: "nav-link link-dark px-5"%></li>
        </ul>
      
      <div class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none"></div>

        <ul class="nav text-rigth">
            <li class="nav-item"><%= link_to "Мій аккаунт", current_user, class: "btn btn-secondary"%></li>
            <li class="nav-item"><%= link_to "Вихід", log_out_path, class: "nav-link link-dark px-2"%></li>
          </ul>

    </div>
  </header>
  <% end %>